[Unit]
Description=CEC Fix
After=lircd.service

[Service]
Type=idle
ExecStart={{DIR}}/cec-fix
Restart=always
RestartSec=5
KillSignal=SIGINT

[Install]
WantedBy=lircd.service
