[Unit]
Description=CEC Fix
After=network.target multi-user.target

[Service]
Type=simple
User=pi
Group=pi
EnvironmentFile={{DIR}}/.env
ExecStart={{DIR}}/build/cec-fix ${PROJECTOR_HOST_IP}
Restart=always
RestartSec=5
KillSignal=SIGINT
RuntimeMaxSec=86400

[Install]
WantedBy=multi-user.target
