[Unit]
Description=CEC Fix
After=syslog.target network.target multi-user.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart={{DIR}}/build/cec-fix
Restart=always
RestartSec=5
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target